body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&display=swap');

:root {
  --max-width: 1280px;
  --min-width: 320px;

  --font-rgb: 130 130 130;
  --font-secondary-rgb: 164 164 164;
  --background-rgb: 222 222 222;
  --background-secondary-rgb: 229 229 229;

  --brand-rgb: 122 122 215; // rgb(122 122 215)
  --brand-secondary-rgb: 128 128 255; // rgb(128 128 255)

  --background-linear: linear-gradient(rgb(214 214 237), rgb(228 228 250), rgb(176 176 232));

  @media (prefers-color-scheme: light) {
    --font-rgb: 225 225 225;
    --background-rgb: 38 38 38;
    --background-secondary-rgb: 20 20 20;

    --brand-rgb: 178 178 255; //rgb(178 178 255)
    --brand-secondary-rgb: 157 157 255; //rgb(157 157 255)

    --background-linear: linear-gradient(rgb(46 46 71), rgb(18 18 36), rgb(34 34 82));
  }
}

html {
  font-size: 16px;

  @media (max-width: 680px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: rgb(var(--font-rgb));
  background: rgb(var(--background-rgb));
}
