.dashboard {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .name {
      padding: 10px;
      font-size: 64px;
      font-weight: 700;
      color: var(--brand-rgb);
      text-transform: uppercase;
    }

    .version {
      padding: 10px;
      font-size: 32px;
      font-weight: 400;
      color: rgb(var(--font-secondary-rgb));
    }
  }

  .sensorData {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .graphs {
    display: flex;
  }

  .divider {
    width: 600px;
    margin: 10px;
    height: 1px;
    background: rgb(var(--font-secondary-rgb));
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 960px) {
    .title {
      flex-direction: row;

      .name {
        font-size: 32px;
      }

      .version {
        font-size: 16px;
      }
    }

    .sensorData {
      flex-direction: column;

      // &:nth-child() {
      //   flex-direction: row;
      // }
    }

    .divider {
      width: 300px;
    }

    .graphs {
      flex-direction: column;
    }

    .form {
      grid-template-columns: 1fr 1fr;
    }
  }
}
