.input {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .inp {
    padding: 15px;
    background: rgb(var(--background-rgb));
    border: none;
    border-radius: 15px;
    color: rgb(var(--font-rgb));
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    text-align: left;
    outline: none;
    cursor: text;
    transition: 0.2s ease-in-out;
    box-shadow: -5px -5px 10px -2px rgba(255, 255, 255, 0.65) inset,
      5px 5px 10px -2px rgba(12, 4, 106, 0.15) inset;

    &:hover {
      box-shadow: -4px -4px 5px -2px rgba(255, 255, 255, 0.65) inset,
        4px 4px 5px -2px rgba(12, 4, 106, 0.15) inset;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  .label {
    padding: 0 10px;
    text-align: left;
    color: rgb(var(--font-secondary-rgb));
    font-size: 14px;
  }
}
