.block {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(var(--background-rgb));
  margin: 20px;
  font-size: 80px;
  font-weight: 700;
  color: rgb(var(--font-secondary-rgb));
  box-shadow: -5px -5px 10px -1px rgba(255, 255, 255, 0.65), 5px 5px 10px 0px rgba(12, 4, 106, 0.15);

  &:hover {
    box-shadow: -3px -3px 5px -1px rgba(255, 255, 255, 0.65), 3px 3px 5px 0px rgba(12, 4, 106, 0.15);
  }
}
